.button {
  display: inline-block;
  background-color: #FF534B;
  color: #fff;
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 15px;
  padding: 15px 20px;
}

button.button {
	border-style: none;
}

a.button {
	text-decoration: none;
}

.button-sm {
	border-radius: 10px;
	padding: 5px 10px;
	font-size: 12px;
}

.button-md {
	padding: 10px 15px;
	font-size: 14px;
}

.button-lg {
	padding: 20px 25px;
	font-size: 18px;
}

.button:hover {
	background-color: #FF7979;
}

a:hover {
	background-color: #FF7979;
}

a:active {
	background-color: #83CFCF;
}
